 a, li, section{
	font-family: sans-serif;
	font-weight: 500;
	font-size: 7px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bolder;
	word-spacing: 12px;
	color: white;
}

section{
	word-spacing: 0px;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px
	
	
}
*{
	text-align: center;
}

#mockup{
	background-color: black;
}

.box{
			width: 650px;
			height: 450px;
			padding;20px;
			margin: 100px auto;
			
			background-image: url(img2/img.jpg);
			background-size: cover;
}

.line{
	border-bottom: 1px solid #fff;
	display: block;
}

h1{
	color: white;
	text-align: center;
	font-size: 26px;
	margin-top: 60px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: sans-serif;
}

p{
	text-align: center;
	color: aliceblue;
	margin:auto 0;
	text-decoration: none;
	font-size: 12px;
	padding-top: 0px
}

.button{
	display: block;
	width: 100px;
	text-align: center;
	margin: 25px auto;
	padding: 8px;
	border: 0.7px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	border-radius: 30px;
	background-color: red;
	position:  relative;
	text-decoration: none;
	word-spacing: 0px;
	
}

.content{
	margin: 100px auto;
	background-color: orangered;
	height: 120px;
	text-align: center;
	color: aliceblue;
}

.content h2{
	text-align: center;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 18px;
	font-family: sans-serif;
}

.h2{
	display:inline-block;
	position: relative;
	font-size: 10px;
}

.underline-small{
	display:inline-block;
	position: relative;
	padding-bottom: .24em;
	font-size: 16px;
	text-transform: none;
	word-spacing: 1px;
}

.underline-small::after {
	content: "";
	height: 2px;
	width: 30px;
	background-color: #fff;
	position: absolute;
	left: 185px;
	bottom: 40px;
}

.underline{
	display: block;
	position: relative;
	text-transform: none;
	right: 2%;
}

.underline::after {
	content: "";
	height: 2px;
	width: 30px;
	background-color: red;
	position: absolute;
	bottom: 30px;
	text-align: center;
}


.content p{
	margin-top: 15px;
	font-size: 10px;
	margin-bottom: 0px
}
